<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue | comments</title>
  <script src="vue.js"></script>
</head>
<body>
  <div id="app">
    <ul>
      <li
        is="individual-comment"
        v-for="comment in comments"
        v-bind:commentpost="comment"
      ></li>
    </ul>
    <input
      v-model="newComment"
      v-on:keyup.enter="addComment"
      placeholder="Add a comment"
    >
  </div>



  <!-- This is the Individual Comment Component -->
  <script type="text/x-template" id="comment-template">
    <li>
      <img class="post-img" v-bind:src="commentpost.authorImg">
      <small>{{ commentpost.author }}</small>
      <p class="post-comment">"{{ commentpost.text }}"</p>
    </li>
  </script>
  <script src="comments.js"></script>
</body>
</html>
